<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="logPattern">[%p %d{yyyy-MM-dd HH:mm:ss}][%c{1}:%L]%m%n]%m%n
		</Property>
	</Properties>
	<Appenders>
		<!-- 控制台 -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>